
<script src="/static/multiselect-dropdown.js"></script>
<label for="skills">Skills</label>
<select class="form-control my-3" name="" id="cars" multiple multiselect-search="true">
    <option value="html">HTML</option>
    <option value="css">CSS</option>
    <option value="javascript">JavaScript</option>
    <option value="python">Python</option>
    <option value="java">Java</option>
    <option value="csharp">C#</option>
    <option value="php">PHP</option>
    <option value="sql">SQL</option>
    <option value="nodejs">Node.js</option>
    <option value="react">React</option>
    <option value="angular">Angular</option>
    <option value="vuejs">Vue.js</option>
    <option value="typescript">TypeScript</option>
    <option value="ruby">Ruby</option>
    <option value="swift">Swift</option>
    <option value="kotlin">Kotlin</option>
    <option value="c">C</option>
    <option value="cplusplus">C++</option>
    <option value="r">R</option>
    <option value="shell">Shell scripting</option>
    <option value="git">Git</option>
    <option value="docker">Docker</option>
    <option value="kubernetes">Kubernetes</option>
    <option value="aws">Amazon Web Services (AWS)</option>
    <option value="azure">Microsoft Azure</option>
    <option value="gcp">Google Cloud Platform (GCP)</option>
    <option value="networking">Networking</option>
    <option value="cybersecurity">Cybersecurity</option>
    <option value="dataanalysis">Data Analysis</option>
    <option value="machinelearning">Machine Learning</option>
    <option value="artificialintelligence">Artificial Intelligence</option>
    <option value="datascience">Data Science</option>
    <option value="databases">Databases</option>
    <option value="rubyonrails">Ruby on Rails</option>
    <option value="django">Django</option>
    <option value="flask">Flask</option>
    <option value="spring">Spring Framework</option>
    <option value="hibernate">Hibernate</option>
    <option value="express">Express.js</option>
    <option value="nestjs">NestJS</option>
    <option value="golang">Go (Golang)</option>
    <option value="rust">Rust</option>
    <option value="scala">Scala</option>
    <option value="haskell">Haskell</option>
    <option value="erlang">Erlang</option>
    <option value="lua">Lua</option>
    <option value="bash">Bash scripting</option>
    <option value="powershell">PowerShell</option>
    <option value="mongodb">MongoDB</option>
    <option value="mysql">MySQL</option>
    <option value="postgresql">PostgreSQL</option>
    <option value="oracle">Oracle</option>
    <option value="nosql">NoSQL databases</option>
    <option value="bigdata">Big Data</option>
    <option value="spark">Apache Spark</option>
    <option value="hadoop">Apache Hadoop</option>
    <option value="tensorflow">TensorFlow</option>
    <option value="keras">Keras</option>
    <option value="pytorch">PyTorch</option>
    <option value="scikit">scikit-learn</option>
    <option value="nltk">NLTK</option>
    <option value="opencv">OpenCV</option>
    <option value="unity">Unity</option>
    <option value="unreal">Unreal Engine</option>
    <option value="agile">Agile Development</option>
    <option value="devops">DevOps</option>
    <option value="continuousintegration">Continuous Integration (CI)</option>
    <option value="continuousdeployment">Continuous Deployment (CD)</option>
    <option value="jenkins">Jenkins</option>
    <option value="ansible">Ansible</option>
    <option value="puppet">Puppet</option>
    <option value="chef">Chef</option>
    <option value="terraform">Terraform</option>
    <option value="azuredevops">Azure DevOps</option>
    <option value="gitlab">GitLab</option>
    <option value="sonarqube">SonarQube</option>
    <option value="kibana">Kibana</option>
    <option value="grafana">Grafana</option>
    <option value="splunk">Splunk</option>
</select>
  