{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 pt-3">
            {% comment %} <button class="btn btn-primary home_btn"><a href="">Sign Up</a></button>
            <button class="btn btn-primary home_btn"><a href="">Sign In</a></button>
            <button class="btn btn-primary home_btn"><a href="">Job Portal</a></button> {% endcomment %}
            <h3>Welcom to Job Portal website we hope that we will not disappoint you.</h3>
        </div>
    </div>
</div>

{% endblock %}