{% extends '../base.html'%} {% block content %}
<div class="container">
    <div class="row d-flex justify-content-center createjob_container">
        <div class="col-md-12 createjob_area mt-3">
            <h1>Edit your Job here!</h1>
            {% if messages %}
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            {% endif %}
            {% if job %}
            <form action="/job/edited/{{job.postJobSlug}}/" method="post" enctype="multipart/form-data" class="createjob_form my-2">
                {% csrf_token %}
                {{form}}
                
                <div class="createjob_form_btn">
                    <button type="submit" class="btn btn-primary py-2 px-3">Update Job</button>
                </div>
            </form>
            {% endif  %}
        </div>
    </div>
</div>

{% endblock %}