{% extends '../base.html' %}
{% block content %}
    <div class="container jobs">
        <div class="row jobs_area mt-3">
            <div class="col-md-10 professionals_search" id="filter" style="transition: 1s; ">
                <form action="" method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <div class="professional_search_item">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </form>
            </div>
            <div class="col-md-10 my-2">
                <button style="width: 150px;" class="btn btn-secondary" id="filter_btn">Filter</button>
                
                <button style="width: 150px;" class="btn btn-secondary" id="filter_btn"><a href="/createjob" style="text-decoration: none; color: white;">Create Job</a></button>
            </div>
            {% if messages %}
                {% for message in messages %}
                    <h3>{{message}}</h3>
                {% endfor %}
            {% endif %}
            {%if total %}
                <p style="font-size:17px">Total <b>{{total}}</b> results found </p>
            {% endif %}
            {% if jobs %}
                {% for job in jobs %}
            <div class="col-md-3"  style="padding:20px">
                <div class="row">
                    <div class="col-12" style="border:2px solid black; position: relative; border-radius: 10px;
                    box-shadow:5px 5px 3px rgba(0,0,0,0.3);
                    ">
                    <div class="d-flex align-items-center pt-2" style="display: flex;">
                        <div style="width: 60px; height: 60px;margin-right: 7px; ">
                            <img style="width: 100%; height: 100%;  border-radius:50%; border: 1px solid black; " src="
                            {% if job.companyImage %}
                            /media/{{job.companyImage}}
                            {% else %} /media/company_images/dummy_man.png  {%   endif %}"
                            alt="">
                        </div>
                        <div  >
                            <p style=" line-height: 12px;margin: 0px; padding-top: 3px;"><b>{{job.jobTitle}}</b></p>
                            <p style="line-height: 11px; font-size=10px"class="pt-1">{{job.companyName}}</p>
                            <p style="line-height: 12px; font-size=10px" >{{job.jobLocation}}</p>
                        </div>
                    </div>
                    <div class="my-1">
                        <p style="font-size:16px">{{job.jobDescription | slice:"0:200"}}...</p>

                    </div>
                    <div class="professional_address " style="display: flex; justify-content: space-between; align-items: center;">
                        <p style="font-size: 15px;"><b>{{job.salaryRange}}$</b></p><button style="font-size: 14px;" class="btn btn-secondary"><a style="color: white; text-decoration: none;" href="/job/detail/{{job.postJobSlug}}/">View Details</a></button>
                    </div>
                        <div  class="options">
                            <p   style="position:    absolute; top: 5px; ; right: 10px; transform: rotate(90deg);   cursor: potiner; margin: 5px;"><b style="cursor: pointer;  position: relative;">...</b>
                            <div class="options_detail" id="options_detail"     style="display: none; border-radius: 10px; padding: 10px;  position: absolute; top: 5px; right: 2px; background: grey; border: 1px solid black; z-index: 10;">
                                <div class="" style="display: flex; flex-direction:column; padding: 5px 10px;" >
                                    <a style="text-decoration: none; color: black; font-size: 14px;" href="/job/edit/{{job.postJobSlug}}/">Edit</a>
                                    <a style="text-decoration: none; color: black; font-size: 14px;" href="/job/delete/{{job.postJobSlug}}">Delete</a>
                                    <a style="text-decoration: none; color: black; font-size: 14px;" href="/job/detail/{{job.postJobSlug}}">Detail</a>

                                </div>
                            </div>
                        </div>
                        </p>
                    </div>
                    
                </div>
            </div>
                {% endfor %}
            {% else %}
                <p>No job Found</p>
            {% endif %}
            <div class="col-12 pagination my-4 d-flex justify-content-center" >
                <nav aria-label="...">
                    <ul class="pagination">
                    {% if jobs.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="/job/?page={{jobs.previous_page_number}}">Prev</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="/job/?page=1">1</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link " href="">Prev</a>
                        </li>
                        <li class="page-item disabled">
                            <a class="page-link " href="/job/?page=1">1</a>
                        </li>
                    {% endif %}
                    {% for i in pages %}
                        {% if i > 1 %}
                      <li class="page-item {% if data.number == i %} active{% endif %}">
                        <a class="page-link" href="/job/?page={{i}}">{{i}}</a>
                      </li>
                    {% endif %}
                    {% endfor %}
                      
                        {% if jobs.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="/job/?page={{jobs.next_page_number}}">Next</a>
                      </li>
                      {% else %}
                      <li class="page-item disabled">
                        <a class="page-link" href="">Next</a>
                      </li>
                      {% endif %}
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
    <script>
        var options= document.querySelectorAll('.options')
        var options_detail= document.querySelectorAll('.options_detail')

        options.forEach(box => {
        box.addEventListener('click', function() {
            // Get the index of the clicked box in the NodeList
            index = Array.from(options).indexOf(this);
            
            options_detail[index].style.display='block'
            // Do something with the index or the clicked box
            console.log(`Clicked on Box ${index}`);
            document.addEventListener('click', handleoutsideclick)
            
    })})

    function handleoutsideclick(event){
        if(options_detail[index].style.display=='none'){
            document.removeEventListener('click', handleoutsideclick)
        }

        if(!options_detail[index].contains(event.target) && !options[index].contains(event.target)){
            options_detail[index].style.display='none'
        }
    }    
       
    
        var filter=document.getElementById('filter')
        var filter_btn=document.getElementById('filter_btn')

        filter_btn.addEventListener('click',function(){
            if(filter.style.display=='block'){
                filter.style.display='none'
            }else{
                filter.style.display='block'
            }
        })

    </script>
    
{% endblock  %}